/* general body styling */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #02A7C9 , #F9E702);
}


/* general text styling */

h2{
  font-family: 'Exo 2', sans-serif;
  color: #5ABE82;
  text-transform: uppercase;
}

h4{
  color: #06A8C6;
}

h5{
  text-transform: capitalize;
}

h6{
  font-family: 'Lato', sans-serif;
}

/* navigation bar styles */

.nav-bar-components{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
  color: black;
  background-color: white;
  box-shadow: 1px 1px .5px #888888;
}

.cd-icon{
  width: 60px;
  padding: 5px 0;
  height: auto;
}

/* form styles */

form{
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.form-control{
  width: 60%;
  height: 40px;
  margin: 0 auto;
}

.btn-primary{
  width: 170px;
  background-color: #09A9C3;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
}

.btn-primary:hover{
  cursor:pointer;
}

/* song cards */

.update-btn{
  margin-bottom: 10px;
}

.single-card{
  box-shadow: 1px 1px .5px #888888;
  background-color: white;
  width: 45%;
  margin: 10px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

.card-holder{
  display: flex;
  flex-wrap: wrap;
  width: 170vh;
  margin: -15px auto;
  justify-content: center;
}
